
h3 { 
    color:#8c40ff;
}

.card-p {
    font-size: 20px;
    color: #343A40;
}


.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.cardBox{
    text-align:justify;
    border: 1px solid #4a00b9;
    border-radius: 12px;
    box-shadow: 7px 7px 3px 2px rgba(121, 82, 179, 0.4);
    width: 30%;
    height: 50%;
    padding: 1rem 1rem 1rem 1rem; 
}


.cardBox.investimento {

    height: auto;
}

.cardBox.atividade {

    height:fit-content;
}

.badgeicon {
    width: 40px;
    margin-top: -6px;
    padding-right: 12px;

}

.list-group-item.list-group-item-danger {
    background-color: #FB3640;
    color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
}

.list-group-item.list-group-item-success{
    background-color: #FDCA40 ;
    color: black;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
}