
h3 { 
    color:#7737AC;
}

.card-p {
    font-size: 20px;
    color: #343A40;
}
.card-ver{
    margin-top: 15px;
    text-align: end;
    font-size: 14px;
    color: #343A40;
}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.cardBox{
    text-align:justify;
    border-radius: 20px;
    box-shadow: 8px 8px 7px 7px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 50%;
    padding: 1rem 1rem 1rem 1rem; 
}

.cardBox:hover{
    transition: ease-in-out 100ms;
    width: 30.2%;
}

.card-button {
    border: none;
    background-color: #ffffff;

    border-bottom:1px solid #8c40ff;
    width: 25%;
    text-align: center;
    margin-left: 75%;
}

.cardBox.investimento {

    height: auto;
}

.cardBox.atividade {

    height:fit-content;
}

.badgeicon {
    width: 40px;
    margin-top: -6px;
    padding-right: 12px;

}

.list-group-item.list-group-item-danger {
    border: 1px solid #ff2323;
    background-color: #ffd72300;
    color: black;
    margin-top: 12px;
}

.list-group-item.list-group-item-success{
    border: 1px solid #23ff40;
    background-color: #9728ff00 ;
    color: black;
    margin-top: 12px;
}