

footer {
    margin-top: 50%;

}

.adverse{


    margin-left: auto;
    margin-right: auto;

    margin-bottom: 4rem ;
   display: flex;
   justify-content: center;
   height: 250px;

}
.background-first {
    position: absolute;
    width: 100%;  
}
.background-second {
    width: 100%; 
}