
* {
    font-family: "https://fonts.google.com/specimen/Signika";
    
}

footer {
    margin-top: 10%;

}

.adverse{

    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 4rem ;
   display: flex;
   justify-content: center;
   height: 250px;

}
.background-first {
    position: absolute;
    width: 100%;  
}
.background-second {
    width: 100%; 
}